@model IEnumerable<TrelloWebApplication.Models.Card>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1 style="text-align:center">TRELLO REPORTER APP</h1>
</div>
<h1>Trello's Board Cards List</h1>
<p>
    Lista dell cards presenti nella bacheca di Trello
</p>
<p>
    - Clicca su Details per vedere il loro status, le loro checklist, eventuali scadenze, eventuali allegati e le loro label.
</p>
<p>
    - Per scaricare gli eventuali allegati recarsi su Details e seguire le istruzioni.
</p>
<p id="Select" class="btn btn-default btn-large">
    @Html.ActionLink("GO TO FILTER", "prova", "Select")

</p>
<table class="table" id="tb1">
    <tr>
        <th style="text-align:center">
            TRELLO'S CARDS LIST
        </th>
        <th>STATO</th>
        <th>ARCHIVIATA</th>
        <th>
            @Html.ActionLink("CREATE A NEW CARD", "newCard", "Card")
        </th>
    </tr>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Closed)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Id })|
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })|
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>
@Html.ActionLink("PRINT PDF", "ExportPDFIndex", "Card", new { @id = "btnPdf", @class = "btn btn-danger btn-large" })

@Html.ActionLink("PRINT EXCEL", "ExcelExIndex", "Card", new { @id = "btnEx", @class = "btn btn-success btn-large" })

