@model IEnumerable<TrelloUtilities.Models.ApiModel>

@{
    ViewBag.Title = "Index";
}

<h2>Lista delle Board</h2>

<br />
<table class="table" id="tb3">
    <tr>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.NameBord)
        </th>
        <th></th>
    </tr>
    @{
        var x = 0;
    }

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NameBord)
    </td>
    <td>
        @if (x == 0)
        {

            {
                x = 1;
            }
        }
        else
        {

            <div>
                @Html.ActionLink("Delete", "Delete", new { id = item.IdBoard }) |
                @Html.ActionLink("Go to", "Primo", new { id = item.IdBoard })
            </div>

        }
    </td>
</tr>

}

</table>
<br />
<p class="btn btn-info" id="tb3">
    @Html.ActionLink("Aggiungi Board", "Create")
</p>