@model IEnumerable<TrelloUtilities.Models.ApiModel>

@{
    ViewBag.Title = "Index";
}
<div>
    <h1>
        Select Board
    </h1>
    <p>
        Lista delle board selezionabili la prima della lista è quella selezionata
    </p>
    <p>
        - <b>Aggiungi board</b> serve a dare le credenziali per una nuova board
    </p>
    <p>
        - <b>Delete</b> per eliminare le credenziali di quella board
    </p>
    <p>
        - <b>Go To</b> per selezionarla
    </p>
</div>

<h3 style="text-align:center">Lista delle Board</h3>

<br />
<table class="table" id="tb3">
    <tr>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.NameBord)
        </th>
        <th></th>
    </tr>
    @{
        var x = 0;
    }

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.NameBord)
    </td>
    <td>
        @if (x == 0)
        {

            {
                x = 1;
            }
        }
        else
        {

            <div>
                @Html.ActionLink("Delete", "Delete", new { id = item.IdBoard }) |
                @Html.ActionLink("Go to", "Primo", new { id = item.IdBoard })
            </div>

        }
    </td>
</tr>

}

</table>
<br />
<p class="btn btn-info" id="tb3">
    @Html.ActionLink("Aggiungi Board", "Create")
</p>
