@model IEnumerable<TrelloWebApplication.Models.Card>

@{
    ViewBag.Title = "Filter";
}
<div class="jumbotron">
    <h1 style="text-align:center">TRELLO REPORTER APP</h1>
</div>
@using (Html.BeginForm())
{
    <p>

            Stato: @Html.DropDownList("Stato", "ALL" )
            <input type="submit" value="Filter" class="btn btn-info" />

    </p>


<table class="table" id="tb1">
    <tr>
        <th style="text-align:center">
            TRELLO'S CARDS LIST
        </th>
        <th>STATO</th>
        <th>ARCHIVIATA</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <th style="text-align:center">
                TRELLO'S CARDS LIST
            </th>
            <th></th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Closed)
                </td>
                @*@Html.EditorFor("SI" => item.Badges.Select)*@

            </tr>
        }
    </table>

    @*@Html.ActionLink("PRINT PDF", "ExportPDFIndex", "Filter", Model, null)*@


    @Html.ActionLink("PRINT PDF", "ExportPDFIndex", "Filter", new { @id = "btnPdf", @class = "btn btn-danger btn-large" })
    @Html.ActionLink("PRINT EXCEL", "ExcelExIndex", "Filter", new { @id = "btnEx", @class = "btn btn-success btn-large" })
}
