@model IEnumerable<TrelloWebApplication.Models.Card>
@{List<String> idList = new List<String>();}
@{
    ViewBag.Title = "Filter";
}
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/TweenLite.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/jquery.gsap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/plugins/CSSPlugin.min.js"></script>
</head>
   
<div class="jumbotron" style="background:rgba(255, 255, 255, 0.4)">
    <h1 style="text-align:center">TRELLO REPORTER APP</h1>
</div>
<div>
    <h1>Trello's Board Cards List Filter</h1>
    <p>
        <h4 style="text-align:center">Lista dell cards presenti nella bacheca di Trello</h4> 
    </p>
    <p>
        - Per filtrare le card selezionare la <i>list</i> e/o archivied per i quali si vuole filtrare e premere il tasto <b>Filter</b> 
    </p>
    <p>
        - Il tasto <b>Sposta</b> serve per andare nella schermata <i>Spostamento di massa</i> con le carte filtrate
    </p>
    <p>
        - <b>Go to Home</b> per tornare alla schermata inziale
    </p>
</div>
@using (Html.BeginForm(new { id = "frmId" }))
{
    @Html.AntiForgeryToken()

    <table  id="tb4">

        <tr>
            <th>
                <h4> LIST : @Html.DropDownList("stato", null, new { @id = "Dropdown1Id" })</h4>
            </th>
            <th>
                    <h4>ARCHVIED : @Html.DropDownList("closed", null, new { @id = "Dropdown2Id" })</h4>
                </th>
            <th>
                <input type="submit" value="Filter" class="btn btn-info" id="submitButton" />
            </th>
        </tr>
    </table>

    <br />

    //<div id="risultato"></div>
    <div id="divTable">

        <div id="dropDownsDiv">
            @Html.Partial("_FilterTable", Model)
        </div>
    </div>
        <table style="width:80%; margin-left:10%; ">
            <tr>
                <th>
                    <a href="/" class="btn btn-primary btn-large">Go To Home</a>
                </th>
                <th> @Html.ActionLink("PRINT PDF", "ExportPDFIndex", new { lstString = Json.Encode(idList) }, new { @class = "btn btn-danger btn-large" })</th>
                <th>@Html.ActionLink("PRINT EXCEL", "ExcelExIndex", new { lstString = Json.Encode(idList) }, new { @class = "btn btn-success btn-large" })</th>
                <th> @Html.ActionLink("Sposta", "Sposta", new { lstString = Json.Encode(idList) }, new { @class = "btn btn-primary btn-large" })</th>
            </tr>
        </table>
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/Trelloapp.js")
}

