@model IEnumerable<TrelloWebApplication.Models.Card>

@{
    ViewBag.Title = "Filter";
}
<div class="jumbotron">
    <h1 style="text-align:center">TRELLO REPORTER APP</h1>
</div>
@using (Html.BeginForm())
{

    <table class="table" id="tb2">
        <h5>Filtra le card per:</h5>
        <tr>
            @*<th style="text-align:center">
                <h6>CAMPO</h6>
            </th>*@
            <th>
                <h6>VALORE</h6>
            </th>
            <th></th>
        </tr>
        <tr>
            @*<th>
                @Html.DropDownList("Campo", "ALL")
            </th>*@
            <th>
                @Html.DropDownList("Stato", "ALL")
            </th>
            <th>
                <input type="submit" value="Filter" class="btn btn-info" />
            </th>
        </tr>
    </table>
            
            


<table class="table" id="tb1">
    <tr>
        <th style="text-align:center">
            TRELLO'S CARDS LIST
        </th>
        <th>STATO</th>
        <th>ARCHIVIATA</th>
    </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Closed)
                </td>
                @*@Html.EditorFor("SI" => item.Badges.Select)*@

            </tr>
        }
    </table>

    @*@Html.ActionLink("PRINT PDF", "ExportPDFIndex", "Filter", Model, null)*@


    @Html.ActionLink("PRINT PDF", "ExportPDFIndex", "Filter", new { @id = "btnPdf", @class = "btn btn-danger btn-large" })
    @Html.ActionLink("PRINT EXCEL", "ExcelExIndex", "Filter", new { @id = "btnEx", @class = "btn btn-success btn-large" })
}
