@model IEnumerable<TrelloWebApplication.Models.Card>
@{List<String> idList = new List<String>();}
@{
    ViewBag.Title = "Filter";
}
<head>
    <style type="text/css">


        #Closed {
            color: black;
            padding: 4px;
            font-size: 16px;
            font-style: italic;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            width: 100%;
        }

            #Closed > option {
                color: black;
                padding: 16px;
                font-size: 16px;
                background-color: white;
                border: none;
                cursor: pointer;
            }

        #tb2 {
            background-color: transparent;
            opacity: 1;
            color: black;
        }
    </style>
</head>
<div class="jumbotron">
    <h1 style="text-align:center">TRELLO REPORTER APP</h1>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table" id="tb2">

        <tr>
            @*<th style="text-align:center">
                    <h6>CAMPO</h6>
                </th>*@
            <th>
                <h4>LIST</h4>
            </th>
            <th>
                <h4>ARCHVIED</h4>
            </th>
            <th></th>
        </tr>
        <tr>
            @*<th>
                    @Html.DropDownList("Campo", "ALL")
                </th>*@
            <th>
                @Html.DropDownList("Stato", "ALL ")
            </th>
            <th>
                @Html.DropDownList("Closed", "ALL ")
            </th>
            <th>
                <input type="submit" value="Filter" class="btn btn-info" />
            </th>
        </tr>
    </table>

    <br />

    <table class="table" id="tb1">
        <tr>
            <th style="text-align:center">
                TRELLO'S CARDS LIST
            </th>
            <th>LIST</th>
            <th>ARCHVIED</th>
            <th>Expiration date</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdList)
                </td>
                @if (item.Closed=="True")
                {
                    <td>YES</td>
                }
                else
                {
                    <td>NO</td>
                }
                
                @if (item.Due!=null)
                {
                <td>
                    @Html.DisplayFor(modelItem => item.Due)
                </td>
                }
                else
                {
                <td>

                   Not Present
                </td>
                }
            </tr>

            idList.Add(item.Id);






        }
    </table>
    <table style="width:80%; margin-left:10%; ">
        <tr>
            <th>
            <p id="Select" class="btn btn-default btn-large">
                    @Html.ActionLink("GO TO INDEX", "Index", "Card")
            </p>
            </th>
            <th> @Html.ActionLink("PRINT PDF", "ExportPDFIndex", new { lstString = Json.Encode(idList) }, new {  @class = "btn btn-danger btn-large" })</th>
            <th>@Html.ActionLink("PRINT EXCEL", "ExcelExIndex", new { lstString = Json.Encode(idList) }, new {  @class = "btn btn-success btn-large" })</th>
            <th> @Html.ActionLink("Sposta", "Sposta", new { lstString = Json.Encode(idList) }, new {  @class = "btn btn-primary btn-large" })</th>

        </tr>
    </table>

    @*@Html.ActionLink("PRINT PDF", "ExportPDFIndex", "Filter", Model, null)*@

   

    



    <p style="margin-left:90%">
       
    </p>


}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
