@model IEnumerable<TrelloWebApplication.Models.Card>

@{
    ViewBag.Title = "Filter";
}
<div class="jumbotron">
    <h1 style="text-align:center">TRELLO REPORTER APP</h1>
</div>
@using (Html.BeginForm())
{
    <p id="head">
        <h5>STATO</h5>
        @Html.DropDownList("Stato", "ALL")
        <input type="submit" value="Filter" class="btn btn-info" />
    </p>
    @*<table class="table" id="tb2">
        <tr>
            @*<th style="text-align:center">
                <h6>CAMPO</h6>
            </th>
            <th>
                <h5>STATO</h5>
            </th>
            <th></th>
        </tr>
        <tr>
            @*<th>
                @Html.DropDownList("Campo", "ALL")
            </th>
            <th>
                @Html.DropDownList("Stato", "ALL")
            </th>
            <th>
                <input type="submit" value="Filter" class="btn btn-info" />
            </th>
        </tr>
    </table>*@
            
            


<table class="table" id="tb1">
    <tr>
        <th style="text-align:center">
            TRELLO'S CARDS LIST 
        </th>
        <th>STATO</th>
        <th>ARCHIVIATA</th>
    </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Closed)
                </td>
                @*@Html.EditorFor("SI" => item.Badges.Select)*@
                <td>
                    @Html.CheckBoxFor(modelItem => item.Badges.Select)
                </td>
            </tr>
        }
    </table>

    @*@Html.ActionLink("PRINT PDF", "ExportPDFIndex", "Filter", Model, null)*@

    @Html.ActionLink("PRINT PDF", "ExportPDFIndex", "Filter", new { @id = "btnPdf", @class = "btn btn-danger btn-large" })
 
    foreach (var item in Model)
    {
        @Html.ActionLink("PRINT EXCEL", "ExcelExIndex", new { id = item.IdList }, new { @id = "btnEx", @class = "btn btn-success btn-large" });
        break;
    }


    <input type="submit" value="Create" class="btn btn-default" />

}