@model IEnumerable<TrelloWebApplication.Models.Card>
@{List<String> idList = new List<String>();}
@{
    ViewBag.Title = "Filter";
}
<head>
    <style type="text/css">

        #Stato {
            color: black;
            padding: 4px;
            font-size: 16px;
            font-style: italic;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            width: 100%;
        }

            #Stato > option {
                color: black;
                padding: 16px;
                font-size: 16px;
                background-color: white;
                border: none;
                cursor: pointer;
               
            }
        #Closed {
            color: black;
            padding: 4px;
            font-size: 16px;
            font-style: italic;
            border: none;
            border-radius: 15px;
            cursor: pointer;
            width: 100%;
        }

            #Closed > option {
                color: black;
                padding: 16px;
                font-size: 16px;
                background-color: white;
                border: none;
                cursor: pointer;
            }

    </style>
</head>
<div class="jumbotron">
    <h1 style="text-align:center">TRELLO REPORTER APP</h1>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table" id="tb2">
     
        <tr>
            @*<th style="text-align:center">
                    <h6>CAMPO</h6>
                </th>*@
            <th>
                <h5>STATO</h5>
            </th>
            <th></th>
        </tr>
        <tr>
            @*<th>
            @Html.DropDownList("Campo", "ALL")
        </th>*@
            <th>
                @Html.DropDownList("Stato", "ALL")
            </th>
            <th>
                @Html.DropDownList("Closed", "ALL")
            </th>
            <th>
                <input type="submit" value="Filter" class="btn btn-info" />
            </th>
        </tr>
    </table>




    <table class="table" id="tb1">
        <tr>
            <th style="text-align:center">
                TRELLO'S CARDS LIST
            </th>
            <th>STATO</th>
            <th>ARCHIVIATA</th>
        </tr>

        @foreach (var item in Model)
        {



            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdList)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Closed)
                </td>
                @*@Html.EditorFor("SI" => item.Badges.Select)*@
                <td>
                    @Html.CheckBoxFor(modelItem => item.Badges.Select)

                    @*<div class="form-group">
                        @Html.LabelFor(modelItem => item.Badges.Select, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(modelItem => item.Badges.Select)
                                @Html.ValidationMessageFor(modelItem => item.Badges.Select, "", new { @class = "text-danger" })
                                @Html.ValidationMessageFor(modelItem => item.Badges.Select, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>*@
                </td>
            </tr>
            idList.Add(item.Id);






        }
    </table>

    @*@Html.ActionLink("PRINT PDF", "ExportPDFIndex", "Filter", Model, null)*@

    @Html.ActionLink("PRINT PDF", "ExportPDFIndex", new { lstString = Json.Encode(idList) }, new { @id = "btnPdf", @class = "btn btn-danger btn-large" })

    @Html.ActionLink("PRINT EXCEL", "ExcelExIndex", new { lstString = Json.Encode(idList) }, new { @id = "btnEx", @class = "btn btn-success btn-large" });



    <input type="submit" value="Create" class="btn btn-default" />

}




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}