@using TrelloWebApplication.Models;
@model IEnumerable<TrelloWebApplication.Models.Card>
@{
    ViewBag.Title = "Gestione Listino";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>


    <h1 style="margin:20px">SPOSTA LE CARD IN UN'ALTRA LISTA</h1>

<table id="tb2" class="table">
    <tr>
        <th>
            <h3>SPOSTA IN</h3>
        </th>
        <th colspan="2" style="text-align:center">
            @Html.DropDownList("Stato", null, new { @id = "StatoId" })
        </th>
    </TR>
    <tr>
        <td>
            <!-- Listbox relativo ai prodotti -->
            <h3>Prodotti in Fatto</h3>
        </td>
        <td></td>
        <td>
            <h3>Prodotti in Esecuzione</h3>
        </td>
    </tr>
    <tr>
        <td>
            @{
                List<Card> products = Model.ToList();
                @*rimuove dalla lista dei prodotti quelli gi' presenti all'interno del listino*@
                <div style="display: none">
                    @Html.ListBox("lbprodid", new MultiSelectList(Model.Select(g => g.Id).ToList()))
                </div>
                @Html.ListBox("lbproducts", new MultiSelectList(products.Select(g => g.Name).ToList()), new { @class = "list" })
            }
        </td>
        <th>
            <!-- Bottoni Add e Remove -->
            <input type="button" id="BtnAdd" name="AddProduct" value="&gt;" class="button1 btn btn-success" onclick="Add()" /><br />
            <input type="button" id="BtnRemove" name="RemoveProduct" value="&lt;" class="button1 btn btn-danger" onclick="Remove()" />
        </th>
        <td>
            @{
                List<Card> prova = new List<Card>();
                @*rimuove dalla lista dei prodotti quelli gi' presenti all'interno del listino*@
            }
            <div>
                <!-- Listbox relativo al listino -->
                @*//int ll = ViewBag.Listino;*@
                @Html.ListBox("lbprodpl", new MultiSelectList(prova.Select(g => g.Name).ToList()), new { @class = "list" })
                @*@Html.ListBox("lbprodpl", new MultiSelectList(Model.Proddata.Products.Select(g => g.codice).ToList()), new {@class = "list"})*@
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3" style="text-align:center">
            <input type="button" id="BtnSave" name="UpdatePricelist" value="Salva listino" />
        </td>
    </tr>
</table>


        <div style="display: none">
            @*// mantienbe due liste parallele, contenenti rispettivamente gli id di prodotto, e i codici di prodotto relativi al listino specifico
                // la prirma lista e' hidden*@
            @Html.ListBox("lbprodplid", new MultiSelectList(prova.Select(g => g.Id).ToList()))
            @*@Html.ListBox("lbprodplid", new MultiSelectList(Model.Proddata.Products.Select(g => g.id).ToList()))*@
        </div>
 
<p>
    @Html.ActionLink("Back to List", "Index","Card", new { @class = "btn btn-primary"})

</p>
